1.What are data structures, and why are they important?

->Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Think of them like containers that hold data in specific formats depending on what you need to do with that data.

Common Types of Data Structures:
Arrays – Store elements in a fixed-size, indexed list.

Linked Lists – A series of connected nodes, where each node contains data and a reference to the next.

2.Explain the difference between mutable and immutable data types with examples?

-> The difference between mutable and immutable data types is all about whether or not you can change the object after it’s been created.

3.What are the main differences between lists and tuples in Python?

->, lists and tuples are both used to store collections of items, but they have some important differences.

The main difference is that lists are mutable, meaning you can change them after they’re created. You can add, remove, or modify items in a list. For example, if you have a list like [1, 2, 3], you can change the first item to something else, or append a new item at the end.

On the other hand, tuples are immutable. Once a tuple is created, you can’t change it. So if you have a tuple like (1, 2, 3), you can’t modify any of its elements or add new ones. If you try to change a tuple, Python will give you an error.

4.Describe how dictionaries store data.

->Dictionaries in Python store data in key-value pairs.

5.Why might you use a set instead of a list in Python.

->A set is an unordered collection of unique elements. In contrast, a list is an ordered collection that can contain duplicate elements.

6.What is a string in Python, and how is it different from a list.

->A string in Python is a sequence of characters used to represent text. It can contain letters, numbers, symbols, and spaces. Strings are written inside single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """)

7.How do tuples ensure data integrity in Python.

->Tuples ensure data integrity in Python by being immutable, meaning once data is stored in a tuple, it cannot be changed. This makes them a safe and reliable choice for storing constant or critical data that should not be modified by mistake.

8.What is a hash table, and how does it relate to dictionaries in Python.

->A hash table is a data structure that stores key-value pairs and allows for very fast data access, typically in constant time, O(1), on average. It's used to efficiently find, insert, and delete data using a hash function.

9.Can lists contain different data types in Python.

->In Python, a list is a built-in, ordered, and mutable collection that can store an arbitrary number of elements. One of the key characteristics of Python lists is their ability to hold elements of heterogeneous data types. This means that a single list can contain elements of various types, such as integers, floats, strings, booleans, complex numbers, other lists, dictionaries, or even user-defined objects.

10.Explain why strings are immutable in Python.

->Strings are immutable in Python to:

Enable memory optimization (string interning)

Ensure safe hashing (dictionary/set keys)

Improve thread safety

11.What advantages do dictionaries offer over lists for certain tasks.

->When to Prefer Dictionaries:
When you need fast access to data via identifiers.

When your data is naturally paired (like name-score, username-password).

When you need a mapping relationship between two sets of values.

12.Describe a scenario where using a tuple would be preferable over a list.

->A tuple is preferable over a list when you want to store a fixed collection of items that should not change.

Use a tuple instead of a list when:
The data is constant and should not be modified.

You want to make your data safe from accidental changes.

You need to use the collection as a key in a dictionary or store it in a set (because tuples are hashable, lists are not).

13.How do sets handle duplicate values in Python.

->A set is an unordered collection of unique elements. It is implemented using a hash table, which does not allow duplicate keys. So, when you try to add a duplicate item, the set recognizes that the value already exists and does not add it again.

14.How does the “in” keyword work differently for lists and dictionaries.

-> For Lists:
The in keyword checks if a value exists in the list.

It performs a linear search (checks each item one by one).

Time complexity: O(n) in the worst case.

 For Dictionaries:
The in keyword checks if a key exists in the dictionary, not the value.

It looks for the key using a hash lookup.

Time complexity: O(1) on average.

15.Can you modify the elements of a tuple? Explain why or why not.

->A tuple is immutable, which means once it is created, its contents cannot be changed. This includes:

You can’t change an individual element.

You can’t add or remove elements.

16.What is a nested dictionary, and give an example of its use case.

->A dictionary in Python is a collection of key-value pairs, where the key is unique and the value can be any data type. In a nested dictionary, one or more of the values is itself a dictionary.

This is useful when you need to represent complex relationships or structured data in a way that maintains clear groupings and hierarchies.

In [ ]:
company = {
    "employee_1": {
        "name": "Alice",
        "age": 30,
        "position": "Engineer"
    },
    "employee_2": {
        "name": "Bob",
        "age": 25,
        "position": "Designer"
    },
    "employee_3": {
        "name": "Charlie",
        "age": 35,
        "position": "Manager"
    }
}

17.Describe the time complexity of accessing elements in a dictionary.

->xplanation of Time Complexity:
Hashing Mechanism:

A Python dictionary is implemented using a hash table, which allows for fast lookups.

When you access a value using a key, Python computes a hash value for the key, which is used to quickly locate the corresponding value in the dictionary.

Constant Time Lookup (O(1)):

On average, the process of calculating the hash and retrieving the value happens in constant time, O(1).

This means the time it takes to access a dictionary element does not depend on the size of the dictionary.

18.In what situations are lists preferred over dictionaries.

->In Python, lists are generally preferred over dictionaries in situations where the data is ordered and the primary access pattern involves indexing or iterating over a sequence of elements.

19.Why are dictionaries considered unordered, and how does that affect data retrieval.

->In Python, dictionaries are considered unordered because the order of items in a dictionary is not guaranteed.dictionaries are still considered unordered from a conceptual perspective, because they are implemented using a hash table.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

->Lists are great for maintaining an ordered collection where you access elements by their position (index).

Dictionaries are ideal for key-value mapping, where you access values using a unique key.

Practical Questions

1.Write a code to create a string with your name and print it

In [ ]:
Name = "Ankush Amrit Sahu"
print(Name)

Ankush Amrit Sahu

2.Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
length = len(text)
print("The length of the string is:", length)

The length of the string is: 11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
text = "python programming"
sliced = text[:3]
print("The first 3 characters are:", sliced)

The first 3 characters are: pyt

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
uppercase_text = text.upper()
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
updated_text = text.replace("apple", "orange")
print("Updated string:", updated_text)

Updated string: I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("The second element is:", second_element)

The second element is: b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print("The second-to-last element is:", second_to_last)

The second-to-last element is: blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
print("The minimum number is:", min_number)

The minimum number is: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print("Is 'kiwi' in the tuple?", is_kiwi_in_tuple)

Is 'kiwi' in the tuple? False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("The set after clearing all elements:", my_set)

The set after clearing all elements: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("The set after removing 4:", my_set)

The set after removing 4: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("The union of the sets is:", union_set)

The union of the sets is: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("The intersection of the sets is:", intersection_set)

The intersection of the sets is: {2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
my_dict = {
    "name": "Ankush",
    "age": 22,
    "city": "Bhubaneswar"
}

print("The dictionary is:", my_dict)

The dictionary is: {'name': 'Ankush', 'age': 22, 'city': 'Bhubaneswar'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
mydict = {'name': 'Alice', 'age': 30}
name_value = mydict['name']
print("The value associated with 'name' is:", name_value)

The value associated with 'name' is: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
mydict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del mydict['age']
print("Updated dictionary:", mydict)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

# Check if the key "city" exists
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("The list is:", my_list)
print("The tuple is:", my_tuple)
print("The dictionary is:", my_dict)

The list is: [1, 2, 3, 4, 5]
The tuple is: ('apple', 'banana', 'cherry')
The dictionary is: {'name': 'John', 'age': 30, 'city': 'New York'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [34, 76, 80, 82, 89]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Access the element at the third index (4th element, since indexing starts at 0)
third_index_element = my_list[3]

# Print the element at the third index
print("The element at the third index is:", third_index_element)

The element at the third index is: date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the two dictionaries using the update() method
dict1.update(dict2)

# Print the combined dictionary
print("Combined dictionary:", dict1)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

30. Write a code to convert a list of strings into a set.

In [ ]:
# Create a list of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list into a set to remove duplicates
my_set = set(my_list)

# Print the resulting set
print("The set is:", my_set)

The set is: {'banana', 'apple', 'cherry'}